In [29]:
'''
This file contains the code for creating and evaluating
the BERT model for sentiment analysis.
This file comes after the data_preprocessing file.
'''

'\nThis file contains the code for creating and evaluating\nthe BERT model for sentiment analysis.\nThis file comes after the data_preprocessing file.\n'

In [30]:
#pip install transformers torch

In [31]:
# import the cleaned data from data_preprocessing file
import pandas as pd
df = pd.read_pickle("dataframe.pkl")

In [32]:
#remove rows for trying out model
#rows_to_keep = df.shape[0] // 4

#df = df.sample(n=rows_to_keep)

In [33]:
# Load the tokenizer and model

#DistilBERT model
from transformers import DistilBertTokenizer, DistilBertForSequenceClassification


#tokenizer = DistilBertTokenizer.from_pretrained('distilbert-base-uncased')
#model = DistilBertForSequenceClassification.from_pretrained('distilbert-base-uncased', num_labels=3)


#BERT model
# from transformers import BertTokenizer, BertForSequenceClassification


#tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
#model = BertForSequenceClassification.from_pretrained('bert-base-uncased', num_labels=3)

In [34]:
from transformers import pipeline

# Initialize the pipeline for sentiment analysis

#nlp = pipeline("sentiment-analysis", model=model, tokenizer=tokenizer)

In [35]:
nlp = pipeline("sentiment-analysis", model="j-hartmann/emotion-english-distilroberta-base", return_all_scores=True)

C:\Users\Alan\anaconda3\Lib\site-packages\transformers\pipelines\text_classification.py:105: UserWarning: `return_all_scores` is now deprecated,  if want a similar functionality use `top_k=None` instead of `return_all_scores=True` or `top_k=1` instead of `return_all_scores=False`.
  warnings.warn(

In [36]:
# Making predictions
def get_highest_scoring_label(text):
    # Analyze the text and get all scores - adjust based on actual structure
    all_scores = nlp(text)
    # Flatten the list of lists to a single list of dictionaries
    # Assuming there's a misunderstanding and the structure is not as deeply nested as thought
    scores = [score for sublist in all_scores for score in sublist]
    # Find the highest scoring emotion across all returned dictionaries
    highest_score = max(scores, key=lambda score: score['score'])
    # Return the label of the highest scoring emotion
    return highest_score['label']

# Apply the function to each row in the DataFrame
df['sentiment'] = df['cleaned_text'].apply(get_highest_scoring_label)

#df['sentiment'] = df['cleaned_text'].apply(lambda x: nlp(x)[0]['label'])

In [37]:
import pickle
df.to_pickle("dataframe_DistilBert_emotions.pkl")

In [38]:
import pandas as pd
df = pd.read_pickle("dataframe_DistilBert_emotions.pkl")

In [39]:
type(df['sentiment'][0])
df

,Unnamed: 0,hashed_userid,masked_username,location,following,followers,totaltweets,usercreateddt,tweetid,retweetcount,...,language,favorite_count,is_retweet,original_tweet_id,in_reply_to_status_id,is_quote_status,quoted_status_id,extractedts,cleaned_text,sentiment
tweetcreatedts,,,,,,,,,,,,,,,,,,,,,
2022-07-01 06:53:25,0,13028308852725196659,*****roy1,NaN,9590,8725,29317,2012-01-24,1542763288815030273,8,...,en,0,True,1542689411489337344,0,False,0,2022-07-01 12:03:31.185425,"for 49 years, liberty's torch shone to ensure ...",anger
2022-07-01 06:53:32,1,45494576030177085457,******eam_6,NaN,8874,10090,33053,2019-02-07,1542763315926994945,8,...,en,0,True,1542689411489337344,0,False,0,2022-07-01 12:03:31.171429,"for 49 years, liberty's torch shone to ensure ...",anger
2022-07-01 06:53:35,2,23641094384211702614,******erlin,"Los Angeles, CA",7730,10006,35360,2008-08-07,1542763330670014464,8,...,en,0,True,1542689411489337344,0,False,0,2022-07-01 12:03:31.157331,"for 49 years, liberty's torch shone to ensure ...",anger
2022-07-01 06:53:38,3,21587659761682762378,******oshi23,Mumbai,232,132,4970,2016-05-10,1542763339738382337,254,...,en,0,True,1542707138971242496,0,False,0,2022-07-01 12:03:31.123276,home based church are now everywhere in punjab...,anger
2022-07-01 06:53:40,4,47915146590553055505,******4Truth,NaN,6914,6310,49958,2021-04-02,1542763352279003136,8,...,en,0,True,1542689411489337344,0,False,0,2022-07-01 12:03:31.097582,"for 49 years, liberty's torch shone to ensure ...",anger
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-20 02:55:19,415367,83242079331442835051,*******tresist,NaN,257,758,272531,2017-02-16,1560822761706094592,6,...,en,0,True,1560794896663203840,0,False,0,2022-08-20 02:58:51.096736,#womensrights 🌻♥️1:5 @sandytxresister @crystal...,fear
2022-08-20 02:55:52,415368,98949018742144878760,*****ll42,NaN,603,179,59766,2014-03-14,1560822898780213249,2,...,en,0,True,1560750229720563712,0,False,0,2022-08-20 02:58:51.087505,@aaronparnas @patryanuc #ny #newyork #yankees ...,fear
2022-08-20 02:56:52,415369,42256911176251501556,*******eDuster,Chi-town,416,8852,11699,2009-03-26,1560823151671488513,1,...,en,0,True,1560280488488718336,0,False,0,2022-08-20 02:58:51.077181,the 19th amendment was ratified #onthisday in ...,anger
2022-08-20 02:57:39,415370,95273352056344375133,*****kh59,"Terre Haute, IN",854,298,16999,2017-10-10,1560823347583361024,0,...,en,0,False,0,1560769551347900416,False,0,2022-08-20 02:58:51.066790,@cbouzy @filmystic yes we are not happy we are...,anger
2022-08-20 02:57:54,415371,19868647935216335990,*****ecot,NaN,1109,796,189199,2009-09-16,1560823411047268352,78,...,en,0,True,1560766115776565248,0,False,0,2022-08-20 02:58:51.054618,🚨breaking: a michigan judge rules that prosecu...,anger

In [40]:
#df.drop(['preprocessed_text', 'text_with_emojis','text_with_slang', 'text_with_negations','sentiment_score' ], axis=1, inplace=True)

In [41]:
#df

In [42]:
value_counts = df['sentiment'].value_counts()

print(value_counts)

sentiment
fear        210837
anger       126160
joy          33348
sadness      17502
surprise      5490
neutral       1100
disgust        534
Name: count, dtype: int64

In [43]:
# grouping by Mode
mode_sentiment = df.groupby('hashed_userid')['sentiment'].agg(lambda x: x.mode()[0])
value_counts_mode = mode_sentiment.value_counts()
print(value_counts_mode)

sentiment
fear        99089
anger       70932
joy         14508
sadness      6979
surprise     2159
neutral       409
disgust       348
Name: count, dtype: int64

In [44]:
filtered_df_joy = df[df['sentiment']=='joy']
filtered_df_joy.to_csv("tweet_data_score_joy.csv")

In [45]:
df.to_csv('tweet_data_emotions.csv')